* {
   box-sizing: border-box;
}

.container {
   background-color:blue;
   display: flex;
   width: 960px;
}

.column {
   background-color: #ddd;
   width: 300px;
   min-height: 200px;
   margin: 10px;
   padding: 10px;
}

h2 {
   margin-top: 10px;
}

.task {
   background-color: #fff;
   min-height: 100px;
   margin-bottom: 10px;
   width: 280px;
   display: flex;
   justify-content: space-between;
   border: 1px solid #ccc;
}

.cross {
   /* position: absolute; */
   right: 10px;
   cursor: pointer;
   display: none;
}

.task:hover .cross {
   display: block;
}

.add-card {
   margin-top: 20px;
   cursor: pointer;
}

.text-area {
   width: 100%;
   min-height: 100px;
   resize: vertical;
   border: none;
}

.add-card-button {
   background-color: green;
   border: none;
   color: #fff;
   cursor: pointer;
}

.none {
   display: none;
}

.cancel-adding {
   cursor: pointer;
}

.dragged {
   border-radius: 10px;
   position: absolute;
   z-index: 999;
   pointer-events: none;
}


.cross-container {
   width: 15px;
}

.cursor-grab {
   cursor: grabbing;
}

.move-down {
   
   margin-bottom: 100px;
}